/* red : #b50005 */

/* navbar */

.navbar {
  background: none;
  margin-bottom: 0;
}

.navbar .nav > li > a {
  font-size: 0.9em;
}

.navbar .nav > li > a > span {
  color: black;
  display: block;
  font-weight: bold;
  font-size: 1.4em;
}

.navbar .nav > li {
  border-top: 5px solid white;
}

.navbar .nav > li:hover {
  border-top-color: #999;
}

.navbar .nav > li.active {
  border-top-color: black;
}

.navbar .nav > li.active > a {
  background-color: white;
}

.navbar .navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .navbar-brand img {
  height: 64px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .navbar .navbar-brand img {
    height: 50px;
  }

  .navbar .nav > li > a {
    font-size: 0.8em;
    padding: 10px 10px;
    line-height: 15px;
  }
}

/* hero */

.stripe {
  background-color: #ddd;
  margin-bottom: 15px;
}

.stripe h1 {
  margin: 5px 0 10px;
}

.hero {
  padding: 10px 0 10px;
}

.hero .carousel-caption {
      max-width: 66%;
      background-image: url(../images/dark_pixel.png);
      padding: 0 20px;
      /*margin:0 auto;*/
      /*margin-top: 200px;*/
      text-align:right;
      right: 0;
      left: auto;
      bottom: 32px;
}

.hero .carousel-indicators {
  bottom: 0px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 50%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  background: url(../images/quote.png) no-repeat 0 10px; 
  padding-left: 30px;
  border-left: none;
}


/* pages */

.contact-page iframe {
  margin-top: -15px;
}

.projects-page .thumbnail .crop {
  position: relative;
  width: 100%;
  padding-bottom: 66%;
  overflow: hidden;
}

.projects-page .thumbnail img {
  position: absolute;
  top: 0; left: 0; width: 100%; 
}

.projects-page a:hover {
  text-decoration: none;
}

.projects-page a:hover .thumbnail {
  background-color: #87b5b3;
}

.projects-page .jcarousel-clip {
  overflow: auto;
}

.projects-page .pika-textnav {
  display: none;
}

/* footer */

footer {
  background-color: #414141;
  padding: 10px 0 10px;
  margin-top: 20px;
  color: #ddd;
  text-align: center;
}

footer .social-links {
}

footer .links {
  padding-top: 20px;
}

footer a {
  color: #ddd;
}